<open-patients class="open-patients"></open-patients>
<patient-banner class="banner"></patient-banner>
<div style="display: flex; flex-direction: row">
  <div class="vertical-nav-container">
    <div placement="right" ngbTooltip="Patient Summary" class="vertical-nav-icon" [removeSVGAttributes]="['fill']"
         [inlineSVG]="'../../assets/images/summary-icon.svg'"></div>
    <div placement="right" ngbTooltip="Immunisations" class="vertical-nav-icon" [removeSVGAttributes]="['fill']"
         [inlineSVG]="'../../assets/images/immunisation-icon.svg'"></div>
    <div placement="right" ngbTooltip="Pathology" class="vertical-nav-icon" [removeSVGAttributes]="['fill']"
         [inlineSVG]="'../../assets/images/investigations-icon.svg'"></div>
    <div placement="right" ngbTooltip="Radiology" class="vertical-nav-icon" [removeSVGAttributes]="['fill']"
         [inlineSVG]="'../../assets/images/radiology-icon.svg'"></div>
  </div>
  <router-outlet></router-outlet>
</div>
