<div class="horizontal-nav-container">
  <span placement="bottom" ngbTooltip="Save" class="horizontal-nav-icon" [removeSVGAttributes]="['fill']"
        [inlineSVG]="'../../assets/images/save-icon.svg'"></span>
  <span placement="bottom" ngbTooltip="Back" class="vertical-nav-icon" [removeSVGAttributes]="['fill']"
        [inlineSVG]="'../../assets/images/cancel-icon.svg'" (click)="cancelEdit()"></span>
</div>

<div class="row">
  <div class="col-lg">
    <div class="card">
      <div class="card-block" style="padding: 0">
        <form>
          <fieldset id="basic-details">
            <div class="row no-gutters">
              <div class="floating-container col-lg">
                <select id="title">
                  <option value="" hidden selected disabled>Title</option>
                  <option>Mr</option>
                  <option>Mrs</option>
                </select>
                <label for="title">Title</label>
              </div>
              <div class="floating-container col-lg">
                <input [(ngModel)]="patientDTO.givenName" type="text" name="given-name" id="given-name" required>
                <label for="given-name">Given Name</label>
              </div>
              <div class="floating-container col-lg">
                <input name="middle-names" id="middle-names" required/>
                <label for="middle-names">Middle Name(s)</label>
              </div>
              <div class="floating-container col-lg">
                <input [(ngModel)]="patientDTO.familyName" type="text" name="family-name" id="family-name" required>
                <label for="family-name">Last Name</label>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="floating-container col-lg">
                <input id="preferredName" name="preferredName" required/>
                <label for="preferredName">Preferred Name</label>
              </div>
              <div appFloatingLabel class="floating-container col-lg">
                <input id="birthday" [ngModel]="patientDTO.birthDate" name="birthday" type="text" required>
                <label for="birthday">Birthday</label>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg">
    <div class="card">
      <div class="card-block" style="padding: 0">
        <label class="sr-only" for="gender">Gender</label>
        <div class="floating-container">
          <select id="gender" name="gender" required>
            <option>Male</option>
            <option>Female</option>
          </select>
          <label>Gender</label>
        </div>
        <div class="row no-gutters">
          <div class="floating-container col-lg">
            <input type="text" name="mobileNumber" id="mobileNumber" required/>
            <label>Mobile phone</label>
          </div>
          <div class="floating-container col-lg">
            <input type="text" required/>
            <label>Home Phone</label>
          </div>
          <div class="floating-container col-lg">
            <input type="text" required/>
            <label>Work Phone</label>
          </div>
        </div>
        <div class="floating-container">
          <select id="preferredContact" name="preferredContact" required></select>
          <label for="preferredContact">Preferred Contact</label>
        </div>
        <div class="floating-container">
          <input type="email" required/>
          <label>Email Address</label>
        </div>
        <div class="floating-container">
          <input type="text" required/>
          <label>Residential Address</label>
        </div>
        <div class="floating-container">
          <input id="postalAddress" name="postalAddress" type="text" required/>
          <label for="postalAddress">Postal Address</label>
        </div>
      </div>
    </div>
  </div>
</div>
