<div class="horizontal-nav-container">
  <span placement="bottom" ngbTooltip="Save" class="horizontal-nav-icon" [removeSVGAttributes]="['fill']"
        [inlineSVG]="'../../assets/images/save-icon.svg'"></span>
  <span placement="bottom" ngbTooltip="Back" class="vertical-nav-icon" [removeSVGAttributes]="['fill']"
        [inlineSVG]="'../../assets/images/cancel-icon.svg'" (click)="cancelEdit()"></span>
</div>

<div class="row">
  <div class="col-lg">
    <div class="card">
      <div class="card-block" style="padding: 0">
        <form>
          <fieldset id="basic-details">
            <div class="row no no-gutters">
              <div class="floating-container col-lg">
                <input [(ngModel)]="patientDTO.givenName" type="text" name="given-name" id="given-name" required>
                <label for="given-name">Given Name</label>
              </div>
              <div class="floating-container col-lg">
                <input name="middle-names" id="middle-names" required/>
                <label for="middle-names">Middle Name(s)</label>
              </div>
              <div class="floating-container col-lg">
                <input [(ngModel)]="patientDTO.familyName" type="text" name="family-name" id="family-name" required>
                <label for="family-name">Last Name</label>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="floating-container col-lg">
                <input id="preferredName" name="preferredName" required/>
                <label for="preferredName">Preferred Name</label>
              </div>
              <div class="floating-container col-lg">
                <input id="birthday" [(ngModel)]="patientDTO.birthDate" name="birthday" type="text" required>
                <label for="birthday">Birthday</label>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg">
    <h4>Contact</h4>
    <label class="sr-only" for="gender">Gender</label>

    <select [(ngModel)]="patientDTO.gender" id="gender" name="gender" class="form-control">
      <option value="" hidden selected disabled>Gender</option>
      <option>Male</option>
      <option>Female</option>
    </select>
    <label class="sr-only" for="title">Title</label>
    <select class="form-control mr-4" id="title">
      <option value="" hidden selected disabled>Title</option>
    </select>
    <div class="card">
      <div class="card-block">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">Mobile phone</label>
          <div class="col-sm-9">
            <input type="text" name="mobileNumber" id="mobileNumber" class="form-control"
                   placeholder="e.g. 400 123 123"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">Checkbox</label>
          <div class="col-sm-9">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input form-check-input-sm" type="checkbox"> Check me out
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">Home Phone</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="e.g. 9800 1234"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">Work Phone</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="e.g. 9800 1234"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="preferredContact" class="col-sm-3 col-form-label col-form-label-sm">Preferred Contact</label>
          <div class="col-sm-9">
            <select id="preferredContact" name="preferredContact" class="form-control"></select>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-3 col-form-label col-form-label-sm">Email Address</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" placeholder="e.g. harry@hogwarts.com.au"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">Residential Address</label>
          <div class="col-sm-9">
            <input class="form-control" type="text"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm" for="postalAddress">Postal Address</label>
          <div class="col-sm-9">
            <input id="postalAddress" name="postalAddress" class="form-control" type="text"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
