@import "_colors.scss";

.tab-item {
  display: inline-block;
  cursor: pointer;
  background-color: $white;
  margin: 5px 10px 10px 10px;
  padding: 5px 10px;
  border: 1px solid $md-blue-grey-100;
}

.open-patients {
  :first-child {
    margin-left: 0;
  }
}
